<%= form_for(@pattern, :url => admin_pattern_path) do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

      <ul>
      <% @pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>Representations: <%= f.text_area :representations %></p>
  <p>Arguments: <%= f.text_area :arguments %></p>
  <p>Meaning: <%= f.text_area :meaning %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
