<h1>Patterns</h1>

<p>
  <%= link_to "New Pattern &raquo;".html_safe, new_admin_pattern_path, class: "btn" %>
  <%= link_to "Hide All &raquo;".html_safe, hide_all_admin_patterns_path, method: :post, class: "btn btn-danger" %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Creator</th>
      <th>Key</th>
      <th>Show?</th>
      <th>Representations</th>
      <th>Arguments</th>
      <th>Meaning</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @patterns.each do |pattern| %>
    <tr>
      <td><%= pattern.id %></td>
      <td><%= pattern.creator.try(:id) %></td>
      <td><%= pattern.key %></td>
      <td><% if pattern.show %><i class="icon-ok"></i><% else %><i class="icon-remove"></i><% end %></td>
      <td><pre><%= pattern.representations %></pre></td>
      <td><pre><%= pattern.arguments %></pre></td>
      <td><pre><%= pattern.meaning %></pre></td>
      <td><%= link_to 'Show', admin_pattern_path(pattern), class: "btn btn-small" %></td>
      <td><%= link_to 'Edit', edit_admin_pattern_path(pattern), class: "btn btn-small" %></td>
      <td><%= link_to 'Destroy', admin_pattern_path(pattern), confirm: 'Are you sure?', method: :delete, class: "btn btn-small btn-danger" %></td>
    </tr>
<% end %>
  </tbody>
</table>
