<!DOCTYPE html>
<html>
<head>
  <title>Ditty</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "canvas", :media => "all" %>
  <script>
  var currentUser = <%= current_user.to_json.html_safe %>
  </script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "canvas" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
