<!DOCTYPE html>
<html>
<head>
  <title>Ditty</title>
  <%= stylesheet_link_tag "canvas", :media => "all" %>
  <%= stylesheet_link_tag "canvas", :media => "all" %>
  <%= javascript_include_tag "canvas" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
var currentUser = <%= current_user.to_json.html_safe %>
<% if current_user.canvas %>
var initialCanvas = <%= current_user.canvas.to_json.html_safe %>
<% else %>
var initialCanvas = {}
<% end %>
</script>

<% if Rails.env == "production" %>
<script type="text/javascript">
var mpq=[];mpq.push(["init","58fe659eaf996e6d543eef70742f0945"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script>
<% else %>
<script type="text/javascript">
var mpq = {
  track: function() { console.log("track", arguments) },
  name_tag: function() { console.log("name tag", arguments) },
  register: function() { console.log("register", arguments) }
}
</script>
<% end %>

</body>
</html>
